body{
    background-color: #ddbea9;
}

h1{
    background-color: #b1a7a6;
}

#titulo{
    color: #ba181b;
}

.fundo-cinza {
    color: #b1a7a6;
}

.fonte-vermelha{
    color: #ba181b;
}

h2 {
    background-color: #b1a7a6;
}

h3 {
    background-color: #b1a7a6;
}




